*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
}
html,body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    scrollbar-width: none;
    /* color: aliceblue; */
}

section{
    width: 55vw;
    height: 100%;
}
section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.overlay{
    position: absolute;
    top: 0;
    width: 55vw;
    margin: auto;
    height: 100%;
    background-color: rgba(60, 7, 107, 0.7);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.first-container{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.first-container h1{
    font-size: 3vw;
    font-weight: 900;
}
.first-container h4{
    font-weight: 900;
    color: burlywood;
    text-transform: uppercase;
    letter-spacing: 2px;
}
span{
    background-color: chartreuse;
    color:black;
}

.second-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2vw;
}

.second-container .heading{
   font-size: 5vw;
   line-height: 1;
   letter-spacing: 8px;
   font-weight: 900;
   color: burlywood;

}

.second-container .heading span{
  background: none;
  color: chartreuse;
}
.feature-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: burlywood;
}

.feature-section h1{
    color: rgb(81, 149, 12);
    font-size: large;
    font-weight: 900;
    font-size: 2vw;
    line-height: 1;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.feature-section ul{
    display: flex;
    justify-content: space-around;
    gap: 70px;
    font-size: 1.4vw;
    font-weight: 800;
    list-style: none;
}

.timing-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}

.timing-section .time{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1vw;
    font-size: 1.3vw;
    font-weight: 800;
    align-content: center;
    color: burlywood;
}
.line{
    display: inline-block;
    color: bisque;
    width: 1px;
    border: 2px solid black;
}
.hro{
    display: block;
    width: 100%;
    border: 2px solid greenyellow;
}
.contact{
    color: white;
    text-transform: uppercase;
    font-size: 1vw;
    font-weight: 900;
    letter-spacing: 2px;
}